
body {
    margin: 2% 30% 2% 30%;
    padding: 0% 2% 0% 2%;
    background-image:url(bg.jpg);
}

h1 {
	opacity:0.5;
	font-size: 35px;
}

a {
	display: block;
	background-color: #008CBA;
	text-align: center;
	border-radius: 3px;
	font-size: 23px;
	width: 287px;
	float: left;
	margin: 9px;
	padding: 17px 0px;
	text-decoration: none;
	color: white;

	-webkit-transition: background-color 0.5s linear;
	-moz-transition: background-color 0.5s linear;
	-o-transition: background-color 0.5s linear;
}

a:hover {
 	background-color: #036889;
}



