*{
	margin:0;
	padding:0;
}
#bg{ z-index:-1;}
body{
	background:url(../img/bg.png) no-repeat center center #1d1d1d;
	color:#eee;
	font-family:Corbel,Arial,Helvetica,sans-serif;
	font-size:13px;
}
#rocket{
	width:255px;
	height:365px;
	background:url(../img/rocket.png) no-repeat;
	left:30px;
	position:absolute;
	top:100px;
}
.steam1,
.steam2{
	position:absolute;
	bottom:78px;
	left:50px;
	width:80px;
	height:80px;
	background:url(../img/steam.png) no-repeat;
	opacity:0.8;
}
.steam2{
	background-position:left bottom;
}
#thish2{
	font-family:'Century Gothic',Calibri,'Myriad Pro',Arial,Helvetica,sans-serif;
	text-align:center;
	color:#9FE3FC;
	font-size:18px;
	font-weight:normal;
	padding:25px 0;
	position:absolute;
	bottom:0;
	left:30px;
}
/*大神CSS*/

/*我的二逼代码*/
#div1{  font-family:Verdana, Geneva, sans-serif; position:absolute;left:500px;top:300px;-webkit-transition: width 0.6s;transition: width 0.6s; border-radius:20px; font-weight:bold;}
#div1 nav:hover{width:200px;}
#div1 nav{border:1px solid #333;width:35px; height:35px;background:url(../img/earth.jpg) #FF9 no-repeat; border-radius:25px;-webkit-transition: width 0.6s;transition: width 0.6s;}
#div1 div{width: 200px; height:200px; background:#FF9;  border-radius:9px; float:none;}
#div1 p{display:none;position:absolute; left:55px; top:10px; width:150px; color:#999;}
#div1 ul{list-style-image:url(../img/li.jpg);font-size:15px; margin-left:30px; padding-top:10px; padding-left:20px; margin-top:5px;}
#div1 ul li{ font-size:14px; margin:4px;}
#div1 ul li a{ text-decoration:none;}

#div2{ font-family:Verdana, Geneva, sans-serif; position:absolute;left:650px;top:30px;-webkit-transition: width 0.6s;transition: width 0.6s; border-radius:20px; font-weight:bold;}
#div2 nav:hover{width:200px;}
#div2 nav{border:1px solid #333;border-radius:25px;width:35px; height:35px;background:url(../img/mu.jpg) #6F9 no-repeat;-webkit-transition: width 0.6s;transition: width 0.6s;}
#div2 div{width: 200px; height:200px; background:#6F9
;  border-radius:9px; float:none;}
#div2 p{display:none;position:absolute; left:55px; top:10px; width:150px; color:#999;}
#div2 ul{list-style-image:url(../img/li.jpg);font-size:15px; margin-left:30px; padding-top:10px; padding-left:20px; margin-top:5px;}
#div2 ul li{ font-size:14px; margin:4px;}
#div2 ul li a{ text-decoration:none;}

#div3{ font-family:Verdana, Geneva, sans-serif; position:absolute;left:800px;top:360px;-webkit-transition: width 0.6s;transition: width 0.6s;border-radius:20px;font-weight:bold;}
#div3 nav:hover{width:200px;}
#div3 nav{border:1px solid #333;border-radius:25px;width:35px; height:35px;background:url(../img/max.jpg) #6FF no-repeat;-webkit-transition: width 0.6s;transition: width 0.6s;}
#div3 div{width: 200px; height:200px; background:#6FF
;  border-radius:9px; float:none;}
#div3 p{display:none;position:absolute; left:55px; top:10px; width:150px; color:#999;}
#div3 ul{list-style-image:url(../img/li.jpg);font-size:15px; margin-left:30px; padding-top:10px; padding-left:20px; margin-top:5px;}
#div3 ul li{ font-size:14px; margin:4px;}
#div3 ul li a{ text-decoration:none;}

#div4{ font-family:Verdana, Geneva, sans-serif; position:absolute;left:1000px;top:100px;-webkit-transition: width 0.6s;transition: width 0.6s;border-radius:20px;font-weight:bold;}
#div4 nav:hover{width:200px;}
#div4 nav{border:1px solid #333;border-radius:25px;width:35px; height:35px;background:url(../img/sun.jpg) #FCF no-repeat;-webkit-transition: width 0.6s;transition: width 0.6s;}
#div4 div{width: 200px; height:200px; background:#FCF
;  border-radius:9px; float:none;}
#div4 p{display:none;position:absolute; left:55px; top:10px; width:150px; color:#999;}
#div4 ul{list-style-image:url(../img/li.jpg);font-size:15px; margin-left:30px; padding-top:10px; padding-left:20px; margin-top:5px;}
#div4 ul li{ font-size:14px; margin:4px;}
#div4 ul li a{ text-decoration:none;}